.advantages {
  
  &__container {
    display: grid;
    grid-template-columns: 1fr 312px;
    gap: 24px;

    @include media(md) {
      display: flex;
      flex-direction: column;
    }

    @include media(sm) {
      gap: 16px;
    }
  }

  &__item {
    --img-size: 64px;
    --bg: var(--color-primary-light);
    --border: var(--color-primary);
    display: flex;
    align-items: center;
    padding: 23px;
    box-shadow: 0px 4px 24px 0px #00000029;
    border-radius: 16px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    overflow: hidden;
    transform: scale(1);
    transition: .25s;

    @media(any-hover: hover) {

      &:hover {
        transform: scale(1.02);
      }
    }

    @include media(sm) {
      padding: 15px;
    }

    &:nth-of-type(1) {
      --bg: var(--color-pink-light);
      --border: var(--color-pink);
    }

    &:nth-of-type(2) {
      --bg: var(--color-blue-light);
      --border: var(--color-blue);
    }

    &:nth-of-type(3) {
      --bg: var(--color-ocean-light);
      --border: var(--color-ocean);
    }

    &-img {
      width: var(--img-size);
      flex-shrink: 0;
      margin-right: rem(24);

      @include media(sm) {
        display: none;
      }
    }

    &-title {
      font-size: rem(18);
      font-weight: 700;
      margin-bottom: rem(8);

      @include media(sm) {
        font-size: rem(14);
      }
    }

    &-desc {
      line-height: 1.5;
    }

    &--xl {
      --img-size: 135px;
      position: relative;
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      flex-direction: column;
      background-image: url('../images/advantages/advantages-decor.png');
      background-size: auto;
      background-position: right bottom;
      background-repeat: no-repeat;

      @include media(md)  {
        flex-direction: row;
        justify-content: space-between;
        background-position: right -10px bottom -80px;
      }

      @include media(sm) {
        background-image: none;
      }

      .advantages__item-img {
        margin: auto 0 rem(85) 0;

        @include media(md)  {
          margin: 0 rem(32) 0 0;
        }
      }

      .advantages__item-info {

        @include media(md)  {
          max-width: 350px;
        }

        @include media(sm) {
          max-width: 100%;
        }
      }

      .advantages__item-btn {
        position: absolute;
        bottom: 24px;
        width: 264px;
        left: 24px;

        @include media(md) {
          width: auto;
          position: static;
          margin-top: rem(16);
        }

        @include media(sm) {
          width: 100%;
        }
      }
    }
  }
}