section.section.advantages 
  .container.advantages__container
    .advantages__item
      .advantages__item-img 
        img(src="./images/advantages/advantages-01.png", alt="")
      .advantages__item-info 
        .advantages__item-title Принимаем товар из других стран
        .advantages__item-desc Проводим полный комплекс услуг фулфилмента согласно требованиям законодательства РФ и российских маркетплейсов
    .advantages__item
      .advantages__item-img 
        img(src="./images/advantages/advantages-02.png", alt="")
      .advantages__item-info 
      .advantages__item-info 
        .advantages__item-title Экономим ваше время
        .advantages__item-desc Работаем по минимальному пакету документов
    .advantages__item
      .advantages__item-img 
        img(src="./images/advantages/advantages-03.png", alt="")
      .advantages__item-info 
      .advantages__item-info 
        .advantages__item-title Гарантируем скорость и прозрачность работы
        .advantages__item-desc Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
    .advantages__item.advantages__item--xl
      .advantages__item-info 
        .advantages__item-title Программа лояльности
        .advantages__item-desc Вы получаете до 10% от суммы каждого заказа баллами  и можете использовать их при оплате следующего заказа
        button(type="button" data-modal-open).advantages__item-btn.btn.btn--black Оставить заявку
      .advantages__item-img 
        img(src="./images/advantages/advantages-04.png", alt="")

      