section.section.faq 
  .container 
    .section__title.h2 FAQ
    .faq__item 
      .faq__item-head 
        .faq__item-title Сколько стоит доставка заказов или поставок в маркеплейсы?
        .faq__item-icon 
      .faq__item-desc 
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
    .faq__item 
      .faq__item-head 
        .faq__item-title Есть ли забор и доставка день в день?
        .faq__item-icon 
      .faq__item-desc 
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
    .faq__item 
      .faq__item-head 
        .faq__item-title Где находится ваш склад?
        .faq__item-icon 
      .faq__item-desc 
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
    .faq__item 
      .faq__item-head 
        .faq__item-title Работаете ли вы с физ лицами?
        .faq__item-icon 
      .faq__item-desc 
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
    .faq__item 
      .faq__item-head 
        .faq__item-title Работаете ли вы с резидентами других стран?
        .faq__item-icon 
      .faq__item-desc 
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
    .faq__item 
      .faq__item-head 
        .faq__item-title Как рассчитывается стоимость услуг?
        .faq__item-icon 
      .faq__item-desc 
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
    .faq__item 
      .faq__item-head 
        .faq__item-title Риски
        .faq__item-icon 
      .faq__item-desc 
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
        p Обеспечиваем оптимальную скорость обработки заказов, прозрачность процессов и возможность отслеживания статуса заказов в режиме реального времени через персонального менеджера
