section.hero.section
  .hero__decor 
    img(src="./images/hero/hero-decor.png", alt="")
  .container.hero__container 
    .hero__info 
      h1.hero__title 
        span Выгодный фулфилмент 
        | для вашего бизнеса
        | в Москве
      .hero__desc Упакуем, промаркируем и отгрузим товары на Wildberries, OZON, МЕГАМАРКЕТ и другие маркетплейсы
      .hero__action 
        button(type="button" data-modal-open).hero__btn.btn.btn--black Оставить заявку
        .hero__marketplaces 
          .hero__marketplace 
            img(src="./images/ozon.png", alt="")
          .hero__marketplace 
            img(src="./images/wb.png", alt="")
          .hero__marketplace 
            img(src="./images/market.png", alt="")
    .hero__img 
      img(src="./images/hero/hero.jpg", alt="") 