section.section.services 
  .services__decor 
    img(src="./images/services/decor.png", alt="")
  .services__container.container 
    h2.section__title.h2 Что мы предлагаем
    .services__list 
      .services__item 
        .services__item-title Проверка на брак
        .services__item-desc Внимательно пересчитаем товар и проверим на брак 
      .services__item 
        .services__item-title Упаковка
        .services__item-desc Бережно переупакуем товары в любую упаковку
      .services__item 
        .services__item-title Маркировка
        .services__item-desc Промаркируем стикерами с баркодами
      .services__item 
        .services__item-title Сопровождение
        .services__item-desc Сделаем подробный фотоотчет, сообщим о всех этапах работ
      .services__item 
        .services__item-title Доставка
        .services__item-desc Упакуем в транспортную тару и доставим на склад макретплейса
      .services__item 
        .services__item-title Хранение
        .services__item-desc Организуем хранение на нашем складе
    .services__banner 
      img(src="../images/error.png", alt="")
      span Чем больше товаров в партии - тем ниже стоимость обработки одного заказа. <br> Нет скрытых и навязанных расходов для наших клиентов
    button(type="button" data-modal-open).services__btn.btn.btn--black Оставить заявку