-
  var stats = [
    {
      num: '126',
      desc: 'Успешно выполненных заявок'
    },
    {
      num: '5 000',
      desc: 'Обработаных товаров'
    },
    {
      num: '98%',
      desc: 'KPI своевременности доставки'
    },
  ]

section.section.stats 
  .container 
    .stats__wrapper 
      .stats__item Успешно выполненных заявок
        span(data-min="0" data-max="126" class="number") 126
      .stats__item Обработаных товаров
        span(data-min="4800" data-max="5000" class="number") 5000
      .stats__item KPI своевременности доставки
        span(data-min="0" data-max="98" class="number") 98%