section.section.works 
  .container.works__container 
    .section__title.h2 Как мы работаем
    .works__list
      .works__line 
        img(src="./images/works/works-line-xl.svg", alt="")
      .works__item.works__item--pink
        .works__item-num 1
        .works__item-desc Получим заявку, проконсультируем и рассчитаем стоимость
      .works__item.works__item--ocean 
        .works__item-num 2
        .works__item-desc Вовремя заберем товар с указанного адреса 
      .works__item.works__item--blue 
        .works__item-num 3
        .works__item-desc Проведем весь комплекс необходимых работ
      .works__item.works__item--purple 
        .works__item-num 4
        .works__item-desc Сделаем подробный фотоотчет
      .works__item.works__item--ocean 
        .works__item-num 5
        .works__item-desc Организуем хранение на нашем складе
      .works__item.works__item--blue 
        .works__item-num 6
        .works__item-desc Оперативно отгрузим на маркетплейс
      .works__item.works__item--pink 
        .works__item-num 7
        .works__item-desc Обменяемся документами онлайн
      .works__item.works__item--final
        .works__item-img 
          img(src="./images/works/works-final.png", alt="")
    button(type="button" data-modal-open).works__btn.btn.btn--black Оставить заявку