footer.footer 
  .footer__container.container 
    .footer__left 
      a.footer__logo(href="#")
        img(src="./images/logo-white.png", alt="") 
      .footer__organization ИП Смирнова Т.Н. <br> ИНН 771543580656 <br> ОГРН 322774600542022
    .footer__right 
      a.footer__policy.hover-link-light(href="#") Политика конфидициальности
      a.footer__tel.hover-link-light(href="tel:+79002381100") +7 900 238 11 00
      .footer__address Московская область, Мытищи, ул. Колпакова, 44сА 2