doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/swiper.min.css")
    link(rel="stylesheet", href="css/jquery.fancybox.css")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    main
      include sections/hero
      include sections/stats
      include sections/advantages
      include sections/calculate
      include sections/detailed
      include sections/works
      include sections/services
      include sections/faq
      include sections/contacts
    include components/footer
    include components/modal
    include includes/scripts